.article > div > h2,
.article > h1 {
  text-shadow: 2px 2px 0 var(--color4);
}

.article > div > h2 {
  margin-left: 20px;
}

.article > footer {
  font-size: 12px;
}

.article > h1 {
  font-size: 26px;
}

.articles > article {
  margin-bottom: 40px;
}

.articles > article img {
  max-height: 220px;
}

.articles > nav > ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
}

.articles > nav > ul > li {
  margin: 0 5px;
}

.articles > nav > ul > li > a {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: var(--color6);
  display: inline-block;
  padding: 3px 7px;
  transition: background-color 200ms;
}

.articles > nav > ul > li > a:hover {
  background-color: var(--blue);
  text-decoration: none;
}

