.rutube {
  background-color: var(--color7);
  height: 520px;
  margin-bottom: 20px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}

.rutube > iframe {
  display: inline-block;
  height: 480px;
  margin: 20px 10px 0 10px;
  width: 854px;
}

