.panel > .chats,
.panel > .controls,
.stream {
  display: flex;
  gap: 0;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.panel {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  padding: 20px;
  position: absolute;
}

.panel > .chats {
  overflow-x: auto;
}

.panel > .chats > iframe {
  padding-bottom: 20px;
}

.panel > .controls {
  align-items: center;
  gap: 10px;
}

.panel > .controls > * {
  color: white;
}

.panel > .controls > .active {
  color: var(--a-color);
}

.stream {
  background: top center no-repeat black;
  background-size: cover;
  height: 100vh;
  margin-top: 40px;
  overflow: hidden;
  position: relative;
}

.stream iframe {
  flex-grow: 1;
}

@media (min-width: 600px) {
  .panel {
    border-radius: 4px 4px 0 0;
    bottom: 0;
    display: block;
    left: 50%;
    transition: transform 200ms;
    width: 100%;
  }

  .panel > .chats > iframe {
    height: 620px;
    min-width: 50%;
  }

  .panel.hidden {
    transform: translate(-50%, calc(100% - 10px));
  }

  .panel,
.panel:hover {
    transform: translate(-50%, 0);
  }

  .stream > iframe {
    height: 37%;
  }
}

@media (min-width: 960px) {
  .panel {
    min-width: 480px; /* Fix. Размытый шрифт. */
    width: auto;
  }

  .panel > .chats {
    gap: 20px;
  }

  .panel > .chats > iframe {
    height: 700px;
    min-width: 380px;
  }

  .stream {
    background-position: center;
    height: 860px;
  }

  .stream > iframe {
    height: auto;
  }
}

