:root {
  --aurora1: #bf616a;
  --aurora2: #d08770;
  --aurora3: #ebcb8b;
  --aurora4: #a3be8c;
  --aurora5: #b48ead;
  --blue: #177cd8;
  --dark-violet: #cb41aa;
  --night0: #252a33;
  --night1: #2e3440;
  --night2: #3b4252;
  --night3: #434c5e;
  --night4: #4c566a;
  --orange: #ff8e24;
  --pony-dark: #622e86;
  --pony-light: #e6458b;
  --purple: #d92436;
  --red: #9281fc;
  --storm1: #d8dee9;
  --storm2: #e5e9f0;
  --storm3: #eceff4;
}

.color5,
.header > h1 > a:hover > span:first-child {
  color: var(--color9);
}

.color6,
.header > h1 > a:hover > span:last-child {
  color: var(--color10);
}

.header *,
.header > h1 > a > span {
  transition: color 200ms;
}

.header > h1 > a:hover,
.header > nav > a:hover,
a {
  text-decoration: none;
}

.header > nav > *:hover,
body {
  color: var(--color2);
}

.header > nav,
.iframe > iframe {
  position: absolute;
}

.header a,
.header span {
  padding: 100px 0;
}

.header,
.iframe {
  overflow: hidden;
  position: relative;
}

.iframe,
.mb20,
h1,
h2,
ol,
p,
pre,
ul {
  margin-bottom: 20px;
}

.mb40,
main {
  margin-bottom: 40px;
}

body,
input {
  font: 14px/20px -apple-system, arial, sans-serif;
}

h1,
h2 {
  font: 20px/1 lobster, cursive;
}

ol,
ul {
  list-style-position: inside;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: monospace;
}

footer {
  color: var(--color8);
}

html {
  background: var(--color1);
}

html[data-theme='dark'] {
  --blue: #4db6f8;
  --color10: var(--storm3);
  --color11: var(--aurora4);
  --color12: var(--aurora2);
  --color13: var(--aurora1);
  --color14: var(--aurora5);
  --color15: var(--night1);
  --color16: var(--night4);
  --color17: var(--storm1);
  --color1: var(--night0);
  --color2: var(--storm3);
  --color3: var(--night4);
  --color4: rgba(0, 0, 0, 0.3);
  --color5: rgba(0, 0, 0, 0.3);
  --color6: white;
  --color7: var(--night1);
  --color8: var(--storm1);
  --color9: var(--storm3);
}

html[data-theme='light'] {
  --color10: var(--pony-light);
  --color11: var(--dark-violet);
  --color12: var(--orange);
  --color13: var(--red);
  --color14: var(--purple);
  --color15: rgba(0, 0, 0, 0.02);
  --color16: rgba(0, 0, 0, 0.15);
  --color17: black;
  --color1: white;
  --color2: black;
  --color3: var(--storm1);
  --color4: white;
  --color5: rgba(0, 0, 0, 0.3);
  --color6: white;
  --color7: var(--night0);
  --color8: #4c566a;
  --color9: var(--pony-dark);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

pre {
  background-color: var(--color15);
  border-radius: 4px;
  box-shadow: inset 0 0 2px 1px var(--color16);
  padding: 10px 20px;
  white-space: pre-wrap;
}

strong {
  font-weight: bold;
}

.color1 {
  color: var(--color11);
}

.color2 {
  color: var(--color12);
}

.color3 {
  color: var(--color13);
}

.color4 {
  color: var(--color14);
}

.dn {
  display: none !important;
}

.error > h1 {
  font-size: 26px;
}

.error > p > img {
  border-radius: 4px;
}

.footer {
  display: grid;
  padding-bottom: 20px;
}

.header {
  padding-top: 20px;
}

.header > h1 > a {
  color: var(--color17);
  font-size: 42px;
  text-shadow: 2px 2px 0 var(--color4), 3px 3px 0 var(--color5);
}

.header > nav {
  display: flex;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.header > nav > * {
  color: var(--color8);
  cursor: pointer;
  margin-left: 20px;
}

.header > nav > a {
  font-weight: bold;
}

.iframe {
  padding-top: 56.25%;
}

.iframe > iframe {
  height: 100%;
  top: 0;
  width: 100%;
}

.line {
  background-color: var(--color3);
  height: 1px;
}

.material-symbols-outlined {
  cursor: pointer;
}

.tac {
  text-align: center;
}

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 590px) {
  .footer {
    grid-template-areas:
      'x1'
      'x2'
      'x3';
  }

  .footer > div {
    text-align: right;
  }

  .header > nav > a {
    display: none;
  }
}

@media (min-width: 600px) {
  .footer {
    gap: 20px;
    grid-template-areas: 'x1 x2 x3';
    justify-content: center;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
}

