.footer a,
.material-symbols-outlined {
  cursor: pointer;
}

.header > div > nav > *:hover,
body {
  color: var(--body-color);
}

.header > div > nav > a:hover,
a {
  text-decoration: none;
}

.header > div > nav,
.iframe > iframe {
  position: absolute;
}

.header > div,
.iframe {
  overflow: hidden;
  position: relative;
}

.iframe,
.mb20,
h1,
h2,
h3,
ol,
p,
pre,
ul {
  margin-bottom: 20px;
}

body,
input {
  font: 14px/20px -apple-system, arial, sans-serif;
}

h1,
h2,
h3 {
  font: normal 700 18px/1 'Lunasima', sans-serif;
}

ol,
ul {
  list-style-position: inside;
}

* {
  box-sizing: content-box;
}

a {
  color: var(--a-color);
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: monospace;
}

footer {
  color: var(--footer-color);
}

html {
  background: var(--html-background);
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

main {
  padding: 40px 0;
}

main h1 {
  font-size: 25px;
}

main h3 {
  font-size: 16px;
}

pre {
  background-color: var(--pre-background-color);
  border-radius: 4px;
  box-shadow: inset 0 0 2px 1px var(--pre-box-shadow);
  overflow-x: auto;
  padding: 10px 20px;
  white-space: pre;
}

strong {
  font-weight: bold;
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3);
}

.color4 {
  color: var(--color4);
}

.dn {
  display: none !important;
}

.error > img {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.footer > div {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
}

.footer > div > div {
  text-align: right;
}

.header * {
  transition: color 200ms;
}

.header > div > a {
  background: url(/store/images/logo.svg) no-repeat right;
  display: flex;
  height: 27px;
  padding: 25px 0;
  width: 182px;
}

.header > div > nav {
  display: flex;
  gap: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.header > div > nav * {
  padding: 100px 0;
}

.header > div > nav > a {
  color: var(--header-a-color);
  cursor: pointer;
  font-weight: bold;
}

.iframe {
  padding-top: 56.25%;
}

.iframe > iframe {
  height: 100%;
  top: 0;
  width: 100%;
}

.mb40 {
  margin-bottom: 40px;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 590px) {
  .header > div > nav {
    display: none;
  }
}

@media (min-width: 800px) {
  .footer > div {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
  }
}

